.change-pass-page{
 
    height: 100vh;
    background-color: #131418;
    display: flex;
    font-family: 'Lato', sans-serif;
}

.success-modal-resetpass {
    position: absolute;
    background: white;
    color: #01939c;
    padding: 2rem;
    border: 1px solid #01939c;
    border-radius: 5px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }
  
  .success-modal-resetpass p{
    text-align: center; 
    color: #01939c;
  
  }
